language: go
go_import_path: go.universe.tf/netboot

os:
- linux
go:
- 1.8
- 1.9

install:
- go get github.com/golang/dep/cmd/dep
- go get github.com/golang/lint/golint
- go get github.com/goreleaser/goreleaser

script:
# It seems Travis, in an attempt to be helpful, nukes GOARCH=x if we
# pass it as such in the build matrix. So, because we really actually
# want the arch to change, we have to do this layer of
# indirection. Blargh.
- export GOARCH=$MY_GOARCH
- dep ensure
# Try to build on all architectures.
- go install ./cmd/pixiecore
# Only do testing and things that requires stuff to be executable on amd64.
- "if [ \"$GOARCH\" = \"amd64\" ]; then go test $(go list ./... | grep -v /vendor/); fi"
- "if [ \"$GOARCH\" = \"amd64\" ]; then go vet $(go list ./... | grep -v /vendor/); fi"
- "if [ \"$GOARCH\" = \"amd64\" ]; then go list ./... | grep -v /vendor/ | xargs -n1 golint; fi"

jobs:
  include:
    - stage: deploy
      go: 1.8
      env:
        - NAME=docker_hub
      script: true
      deploy:
        - provider: script
          #script: go run scripts/trigger_docker_build/main.go
          script: goreleaser --snapshot
          on:
            branch: master
            #  condition: -n $DEPLOY_DOCKERHUB
env:
  matrix:
    - MY_GOARCH=amd64
    - MY_GOARCH=arm
    - MY_GOARCH=arm64
  global:
    - GOARM=7
    # Docker Hub trigger URL
    #- secure: "O0Yq00UdN5PRTQOKZL87MGtceXN+7ag2srsH/TFA6DuY1jPUV5LxkqCQVysFvoyYzroBjk91K12Aw8tTzgB6s5Ehz9c1G/lMOgQwF0QUZ4ufnOJQU7evZaLdaPtNL79QfFxtNzgF5j9wX4PYJLiduMYOKCKM63GJsEXEGevdSXsmSwayA9L6GIq8gRhX5nXx34mQDDTLDsOQAqCM1atpe80yA0a++xuLULc6IeyPOYw939CzNBFMqVPpyf27+It/UO2Ul9Dl9FrvDGpeaSGY8j0kY2P1cSawZcGUgPKZUm70fvCiYDXY+PYyiFFPt51CeADCC+ezP47T/W/Hq1EfPeC/qhQRa2NVjACZVhYV6fwlhQIb9QUKAqIYrbqw5Yb+sBDd9xMwvzVy3vStQ3fMkQvJZLfYFAB5/UStyO22gPw830ILq2kWF7h4DP304kzmDR39+foBysXbdcmNqW4KrQxDswmSUy6Dam7dFhJu208KNiiB3Pz3RJL3O0qmuYXkEj3hJ+VxpWj10SPGpK/HBwFIMo2B06cIPmTtBRTpXXKNvHcaL21NqpZtf0umyRYmp8ifkHtElHUeqELoWA7aNiNGL9v3bBhrs7unjMPxXkE1G1wCIMOGEvzbWNmVR1rmduquTCVXGGrodYlIHRvsA4ZUBcv2O0vl6+UMZEuGnNI="
